html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    color: #333 !important;
    margin: 0;
    padding: 0;
    font-size: 14px !important;
    font-family: Tahoma, Geneva, sans-serif !important;
    line-height: 1.6em !important;
}

a, a:link, a:visited,
a:active, a:hover {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    background-color: #c7d1d6;
}

header, footer, hgroup,
nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.highlight {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

input[type=text], textarea {
    width: 200px;
}

/* main layout
----------------------------------------------------------*/
#mainContainer {
    width: 1320px;
    margin: 0 auto;
}

#mainHeaderPanel {
    width: 1320px;
    float: left;
}

#menuPanel {
    width: 1320px;
    float: left;
}

#contentHeaderPanel {
    width: 1320px;
    float: left;
}

#contentBodyPanel {
    width: 1320px;
    float: left;
}

.contentLeft {
    width: 250px;
    float: left;
}
.contentRight {
    width: 1050px;
    float: right;
}

.panel {
    margin: 20px 0 0 20px;
}

.hide {
    display: none;
}

.error {
    color: #e80c4d;
    display: block;
}

/* Loading message */
#loadingMessagePanel {
    width: 100px;
    text-align: center;
}

#loadingMessageText {
    display: block;
}

#loadingMessageImage {
    border: 0;
}

/* New sudoku dialog */
#newSudokuDialog tr {
    vertical-align: top;
}

#newSudokuDialog td.label {
    text-align: right;
    width: 100px;
}

    #newSudokuDialog td.label label {
        margin-right: 10px;
    }

/* Sudoku list */
#sudokuListPanel {
}

    #sudokuListPanel.sudokuItem {
    }

#messagePanel {
    float: left;
    clear: left;
}

    #messagePanel.almostHide {
        opacity: 0.01;
    }

    #messagePanelMessage {
    }

    #messagePanelClear {
        font-size: smaller;
        color: #e80c4d;
        text-decoration: none;
    }

#detailsPanel {
    float: left;
    width: 350px;
}

#selectedSquarePanel {
    float: left;
    width: 150px;
}

#selectedNumberPanel {
    float: left;
    width: 150px;
}

#legendPanel {
    float: left;
    clear: left;
}

#numberGridPanel {
    float: left;
    clear: left;
}

.gridPanel {
    border: 1px solid gray;
    float: left;
}

    .gridPanel.size4 {
        width: 132px;
    }

    .gridPanel.size9 {
        width: 429px;
    }

    .gridPanel.size16 {
        width: 1000px;
    }

#valueGridPanel {
    clear: left;
}

#availabilityGridPanel {
}

#idGridPanel {
    clear: left;
}

.groupItem {
    float: left;
    border: 1px solid gray;
}

    .groupItem.size4 {
        width: 64px;
    }

    .groupItem.size9 {
        width: 141px;
    }

    .groupItem.size16 {
        width: 248px;
    }

.squareItem {
    float: left;
    border: 1px solid #efefef;
    background-color: #fff;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

    .squareItem.size4 {
        line-height: 30px;
        width: 30px;
    }

    .squareItem.size9 {
        line-height: 45px;
        width: 45px;
    }

    .squareItem.size16 {
        line-height: 60px;
        width: 60px;
    }

    .squareItem .value {
        display: block;
    }

        .squareItem .value.size4 {
            height: 30px;
        }

        .squareItem .value.size9 {
            height: 45px;
        }

        .squareItem .value.size16 {
            height: 60px;
        }

    .squareItem.odd {
        background-color: #ffff99;
    }

    .squareItem.activeSelected {
        background-color: #ccddff;
        border: 1px dashed #6699ff;
    }

    .squareItem.passiveSelected {
        background-color: #6699ff !important;
    }

    .squareItem.relatedSelected {
        background-color: #ccddff;
    }

    .squareItem.initial { /* 0 */
        color: #000000;
    }

    .squareItem.user { /* 1 */
        color: Green;
    }

    .squareItem.hint { /* 2 */
        color: purple;
    }

    .squareItem.solver { /* 3 */
        color: #e80c4d;
    }

    .squareItem .availabilityItem {
        float: left;
        width: 15px;
        line-height: 15px;
        font-weight: normal;
        font-size: 14px;
    }

        .squareItem .availabilityItem.unavailable_self {
            font-size: 12.5px;
            color: #e80c4d;
        }

        .squareItem .availabilityItem.unavailable_group {
            font-size: 12.5px;
            color: #e80c4d;
            text-decoration: line-through;
        }

#hintsPanel {
    float: left;
}

.hintItem {
}

#groupNumberAvailabilityPanel {
    float: left;
}

/* jquery-ui */
.ui-widget {
    font-size: 14px !important;
    font-family: Tahoma, Geneva, sans-serif !important;
}

.ui-dialog-notitlebar .ui-dialog-titlebar {
    display: none;
}
