html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    color: #333 !important;
    margin: 0;
    padding: 0;
    font-size: 14px !important;
    font-family: Tahoma, Geneva, sans-serif !important;
    line-height: 1.6em !important;
}

a:link, a:visited,
a:active, a:hover {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

a:hover {
    background-color: #c7d1d6;
}

header, footer, hgroup,
nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.highlight {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}


/* main layout
----------------------------------------------------------*/
.contentContainer {
    width: 1200px;
    margin: 0 auto;
}

.contentLeft {
    width: 200px;
    float: left;
}

.contentRight {
    width: 1000px;
    float: right;
}

.panel {
    margin: 20px 0 0 20px;
}

/* loading message panel */
#loadingMessagePanel {
    width: 100px;
    text-align: center;
}

#loadingMessageText {
    display: block;
}

#loadingMessageImage {
    border: 0;
}

/* jquery-ui */
.ui-widget {
    font-size: 14px !important;
    font-family: Tahoma, Geneva, sans-serif !important;
}

.ui-dialog-notitlebar .ui-dialog-titlebar {
    display: none;
}

.error {
    color: #e80c4d;
    display: block;
}

#sudokuListPanel {
}

    #sudokuListPanel.sudokuItem {
    }

#detailsPanel {
    float: left;
    width: 350px;
}

#selectedSquarePanel {
    float: left;
    width: 150px;
}

#selectedNumberPanel {
    float: left;
    width: 150px;
}

#legendPanel {
    float: left;
    clear: left;
}

#messagePanel {
    float: left;
    clear: left;
}

    #messagePanel.almostHide {
        opacity: 0.01;
    }

    #messagePanelMessage {
        /* color: #e80c4d;
        font-weight: bold; */
    }

    #messagePanelClear {
        font-size: smaller;
        color: #e80c4d;
        /* font-weight: bold; */
        text-decoration: none;
    }

#numbersPanel {
    float: left;
    clear: left;
}

#numberGridPanel {
    /* overflow: auto; */
}

.numberGroupItem {
    float: left;
    width: 141px;
    border: 1px solid gray;
}

.numberItem {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    float: left;
    /*width: 45px;*/
    /*height: 45px;*/
    /*line-height: 45px;*/
    border: 1px solid #efefef;
    padding: 0;
    margin: 0;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
}

    .numberItem .value {
    }

.gridPanel {
    border: 1px solid gray;
    float: left;
}

    .gridPanel.size4 {
        width: 138px;
    }

    .gridPanel.size9 {
        width: 429px;
    }

    .gridPanel.size16 {
        width: 990px;
    }

#valueGridPanel {
    clear: left;
}

#availabilityGridPanel {
}

#idGridPanel {
    clear: left;
}

.groupItem {
    float: left;
    border: 1px solid gray;
}

    .groupItem.size4 {
        width: 66px;
    }

    .groupItem.size9 {
        width: 141px;
    }

    .groupItem.size16 {
        width: 246px;
    }

.squareItem {
    float: left;
    border: 1px solid #efefef;
    background-color: #fff;

    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

    .squareItem.size4 {
        line-height: 30px;
        width: 30px;
    }

    .squareItem.size9 {
        line-height: 45px;
        width: 45px;
    }

    .squareItem.size16 {
        line-height: 60px;
        width: 60px;
    }

.odd {
    background-color: #ffff99;
}

.activeSelected {
    background-color: #ccddff;
    border: 1px dashed #6699ff;
}

.passiveSelected {
    background-color: #6699ff !important;
}

.relatedSelected {
    background-color: #ccddff;
}

.initial { /* 0 */
    color: #000000;
}

.user { /* 1 */
    color: Green;
}

.hint { /* 2 */
    color: white;
    background-color: Purple !important;
}

.solver { /* 3 */
    color: #e80c4d;
}

.squareItem .value {
    display: block;
}

    .squareItem .value.size4 {
        height: 30px;
    }

    .squareItem .value.size9 {
        height: 45px;
    }

    .squareItem .value.size16 {
        height: 60px;
    }

    .squareItem .availabilities.size4 {
        width: 30px;
    }

    .squareItem .availabilities.size9 {
        width: 45px;
    }

    .squareItem .availabilities.size16 {
        width: 60px;
    }

/*.squareAvailabilities {
    width: 45px;
}*/

.availabilityItem {
    float: left;
    width: 15px;
    line-height: 15px;
}

    .availabilityItem.unavailable_self {
        color: #e80c4d;
        font-size: 0.9em;
    }

    .availabilityItem.unavailable_group {
        color: #e80c4d;
        font-size: 0.9em;
        text-decoration: line-through;
    }

#hintsPanel {
    float: left;
}

.hintItem {
}

#groupNumberAvailabilityPanel {
    float: left;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

.main-content {
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}

.hide {
    display: none !important;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 20px 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 20px 0 12px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #login a.username {
            background: none;
            margin-left: 0px;
            text-decoration: underline;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #333;
                text-decoration: none;
            }


/* info and errors */

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

ul#social li {
    display: inline;
    list-style: none;
}

    ul#social li a {
        color: #999;
        text-decoration: none;
    }

a.facebook, a.twitter {
    display: block;
    float: left;
    height: 24px;
    padding-left: 17px;
    text-indent: -9999px;
    width: 16px;
}

a.facebook {
    background: url("../Images/facebook.png") no-repeat;
}

a.twitter {
    background: url("../Images/twitter.png") no-repeat;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.one,
            ol.round li.two,
            ol.round li.three {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    fieldset input[type="text"],
    fieldset input[type="password"] {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }

    ul#social {
        padding: 0;
        margin: 0;
    }

    a.facebook, a.twitter {
        background: none;
        display: inline;
        float: none;
        height: auto;
        padding-left: 0;
        text-indent: 0;
        width: auto;
    }
}

input[type=text], textarea {
    width: 200px;
}

/* New sudoku dialog */
#newSudokuDialog tr {
    vertical-align: top;
}

#newSudokuDialog td.label {
    text-align: right;
    width: 100px;
}

    #newSudokuDialog td.label label {
        margin-right: 10px;
    }
